ClientWsdl/Service References/CancelOrderSvc/cancelOrder.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Host" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Host" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CancelOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelOrder" nillable="true" type="tns:CancelOrder" />
  <xs:simpleType name="ErrorCodes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Fail" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ErrorCodes" nillable="true" type="tns:ErrorCodes" />
</xs:schema>